/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  /* background-image: radial-gradient(
    circle at 19% 19%,
    #ffffff 33%,
    #ddf0ff 70%,
    #edf7ff 100%
  ); */
  /* background-image: radial-gradient(circle at 19% 19%,#145592 21%,#2673b4 50%, #72b3e8 100%); */
  /* background: top center no-repeat; */
  background-size: cover;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.27;
  color: #000;
}
.hero h2 {
  color: #000;
  margin: 15px 0 0 0;
  font-size: 18px;
  margin-bottom: 30px;
}

.hero .btn-get-started {
  display: inline-block;
  padding: 15px 28px;
  border-radius: 40px;
  color: #0581d9;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid #0581d9;
}
.hero .btn-get-started:hover {
  background: #0581d9;
  color: #fff;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.hero .btn-get-started:hover i {
  transform: translateX(5px);
}
.hero .hero-img {
  text-align: right;
  /* width: 250px; */
}

#hero .stack-top {
  /* padding: 110px; */
  z-index: 999;
  position: relative;
  /* position: absolute; */
  margin: 20px;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    /* margin-top: 80px; */
  }
  .hero .hero-img img {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

.hero-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.hero-curve svg {
  position: relative;
  display: block;
  width: calc(103% + 1.3px);
  height: 262px;
}

.hero-curve .hello-curve-fill {
  fill: #0581d9;
}

/*--------------------------------------------------------------
# How we can help
--------------------------------------------------------------*/
.reusable-boxes .box {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}
.reusable-boxes .box img {
  width: 160px;
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}
.reusable-boxes .box h3 {
  font-size: 20px;
  color: #000;
  font-weight: 500;
  margin-bottom: 18px;
}
.reusable-boxes .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.reusable-boxes .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Tech Stack
--------------------------------------------------------------*/

.grey-box {
  padding: 50px 0;
  background: #f8fafc;
  border-radius: 1rem;
  color: #596776;
  box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
}

.tech-name {
  line-height: 24px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 0.65rem;
}

.tech-box {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

@media (min-width: 768px) {
  .col-md-2 {
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }
}

/*--------------------------------------------------------------
# Our Specialities
--------------------------------------------------------------*/

.recent-blog-posts .post-box {
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .recent-blog-posts .post-box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
} */

.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}
.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
  padding-top: 30px;
}
.recent-blog-posts .post-box .post-date {
  font-size: 14px;
  line-height: 1.7;
  color: #798e9f;
  display: block;
  margin-bottom: 20px;
}
.recent-blog-posts .post-box .post-title {
  font-size: 20px;
  font-weight: 500;
  color: #002d45;
  margin: 10px 0;
  position: relative;
  transition: 0.3s;
}
.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  margin-top: 20px !important;
}
.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}
.recent-blog-posts .post-box:hover .post-title {
  color: #0581d9;
}
.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

/*--------------------------------------------------------------
# Data scraping bullets
--------------------------------------------------------------*/

.data-scraping-bullets i {
  line-height: 24px;
  /* background: #ecf3ff; */
  color: #0581d9;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.data-scraping-bullets h4 {
  font-size: 16px;
  color: #002d45;
  font-weight: 600;
  margin: 0;
}

.data-scraping-bullets h3 {
  font-size: 24px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 30px;
}

.feature-box {
  padding: 5px 10px;
  /* box-shadow: 0px 0 30px rgb(1 41 112 / 8%); */
  transition: 0.3s;
  height: 100%;
  margin-bottom: 24px;
}

/*--------------------------------------------------------------
# Data scraping what it is
--------------------------------------------------------------*/

.what-it-is h2 {
  font-size: 30px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.what-it-is h3 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #0581d9;
  text-transform: uppercase;
}

.what-it-is h4 {
  font-size: 28px;
  font-weight: 500;
  color: #002d45;
  margin-bottom: 40px;
}

.what-it-is p {
  margin: 15px 0 30px 0;
  font-size: 18px;
  line-height: 1.8;
  color: #798e9f;
}

.what-it-is .content {
  padding: 40px;
}

.what-it-is {
  background-color: #f8fafc;
}

/*--------------------------------------------------------------
# How we can help
--------------------------------------------------------------*/

.how-we-can-help i {
  line-height: 24px;
  /* background: #ecf3ff; */
  color: #0581d9;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}

.how-we-can-help h4 {
  font-size: 16px;
  color: #002d45;
  font-weight: 600;
  margin: 0;
}

/* main wrapper */
.blob-wrapper {
  /* display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-auto-rows: 50vw; */
}

/* blob containers h1 + svg */
.blob-2 {
  display: grid;
  /* grid-template-columns: repeat(10 , 5vw);
  grid-template-rows: repeat(10 , 5vw); */
}

.blob {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 0;
left: 0; */
}

.blob-box {
  /* width: 400px;
  height: 400px; */
  position: relative;
  margin: 20px;
}

.stack-top {
  /* padding: 110px; */
  z-index: 999;
  /* position: relative; */
  position: absolute;
  margin: 20px;
}

.gooey {
  background-image: linear-gradient(
    120deg,
    #eef7ff 33%,
    #b0dbff 66%,
    #7cc1ff 85%,
    #53a4ed 100%
  );
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 100%;
  height: 344px;
  animation: morph 3s linear infinite;
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
}

.gooey:before,
.gooey:after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  /* box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21); */
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  /* background-image: linear-gradient(120deg, rgba(0,67,255,.55) 0%, rgba(255,255,255,.89) 100%); */
}

.gooey:before {
  animation: morph 3s linear infinite;
  opacity: 0.21;
  animation-duration: 1.5s;
}

.gooey:after {
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: 0.89;
  content: "";
  line-height: 120px;
  text-indent: -21px;
}

@keyframes morph {
  0%,
  100% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    opacity: 0.89;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}

@media screen and (max-width: 992px) {
  .container {
    display: flex;
    flex-flow: column;
  }
  .two {
    order: 1;
  }
  .one {
    order: 2;
  }
}

/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/

.experience {
  background-color: #f8fafc;
}

/*--------------------------------------------------------------
# Benefits
--------------------------------------------------------------*/

#benefits {
  background-color: #f8fafc;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer a {
  color: #596776;
  transition: all 0.2s, transform 0.2s ease-in-out;
}

.button--outlined.button--white {
  color: #0581d9;
  border-color: #0581d9;
}

.button--small {
  font-size: 0.875rem;
  padding: 0.6875rem;
  min-width: 10.9375rem;
}

.button--outlined {
  background: transparent;
  border-color: #39d8b0;
  color: #39d8b0;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.button {
  outline: none;
  min-width: 12.5rem;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #0581d9;
  padding: 0.875rem 1.875rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01875rem;
  color: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  display: inline-flex;
  justify-content: center;
}

.footer-socials {
  width: 100%;
  margin-bottom: 35px;
}

.socials {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.footer ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  color: #596776;
  padding-left: 0 !important;
}

li {
  list-style: none;
}

.socials li:not(:last-child) {
  margin-right: 19px;
}

.socials a {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.footer .menu-privacy li:not(:last-child) {
  margin-right: 30px;
}

.socials p {
  display: block;
}

.footerSocialContainer {
    display: block;
    height: 60px;
    float: right;
    text-align: right;
    margin: 0;
}


.footerBottomContainer {
    text-align: left;
    float: left;
}

.footerBottom {
  margin-top: 40px !important;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  height: 40px;
}
